<%- include partials/main/header.ejs %>

    <%- include partials/main/nav.ejs %>

    <div class="jumbotron">
        <%- include partials/dynamic/eventIndividual.ejs %>
    </div>

    <%- include partials/dynamic/eventComments.ejs %>

<%- include partials/main/footer.ejs %>