<%- include partials/main/header.ejs %>

    <%- include partials/main/nav.ejs %>

        <div class="jumbotron" id="event-background" style="background-image: url('<%= db.picture %>');">
            <div id="event-detailed">
                    <%- include partials/dynamic/eventIndividual.ejs %>
            </div>
        </div>

    <%- include partials/dynamic/eventComments.ejs %>

<%- include partials/main/footer.ejs %>