<%- include partials/main/header.ejs %>
    
    <%- include partials/main/nav.ejs %>

    <div id="evntr_header" class=" mt-5">
        <div class="container">

            <form class="form-addEvent" action="/edit/submit/<%= db._id %>" method="POST">
                <h2 class="form-addEvent-heading text-center">
                    Edit Event:
                    <span class="text-muted">
                        <%= db.name %>
                    </span>
                </h2>

                <br>
                <input type="text" id="inputEventName" class="form-control" name="name" placeholder="Event Name" value="<%= db.name %>" required>

                <br>
                <div class="form-inline w-100">
                    <input type="text" id="inputLocationCity" class="form-control col" name="city" placeholder="Location (City)" value="<%= db.city %>"
                        required>
                    <input type="text" id="inputLocationState" class="form-control mx-2 col" name="state" placeholder="Location (State)" value="<%= db.state %>"
                        required>
                    <input type="text" id="inputLocationStreetNumber" class="form-control col" name="streetNumber" placeholder="Street Number, Name & Type"
                        value="<%= db.streetNumber %>" required>
                </div>

                <br>
                <input type="text" id="inputEventDate" class="form-control" name="eventDate" placeholder="DDDD MMM YYYY" value="<%= db.eventDate %>"
                    required>

                <br>
                <textarea type="text" id="inputEventOverview" class="form-control" name="shortOverview" placeholder="Insert Details..." required><%= db.shortOverview %></textarea>

                <br>
                <input type="text" id="inputPoserURL" class="form-control" name="picture" placeholder="Poster URL" value="<%= db.picture %>"
                    required></input>

                <br>
                <button class="btn btn-lg btn-outline-warning btn-block" type="submit">Submit Changes</button>
            </form>

            <a href="/">
                <button class="mt-3 btn btn-lg btn-outline-dark btn-block">Return Home</button>
            </a>
        </div>

    </div>
    </div>

<%- include partials/main/footer.ejs %>