<div class="container my-5">
    <h2 class="text-center display-4">Other Events</h2>
    <br>
    <div class="row mb-2">

        <%  for (let i = 1; i < 4; i++) { %>
            <div class="listItem col-md-4">
                <div class="asc_card card mb-4 box-shadow">
                    <img class="card-img-top" src="<%= db.events[i].picture %>" alt="Card image cap">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h3 class="mb-0">
                                <a class="text-dark" href="#">
                                    <%= db.events[i].city %>
                                </a>
                            </h3>
                            <div class="mb-1 text-muted small">
                                <%= db.events[i].name %>
                            </div>
                            <p class="shortOverview card-text mb-auto">
                                <%= db.events[i].shortOverview %>
                            </p>
                        </div>
                        <div>
                            <a href="/home/<%=i%>">
                                <button class="btn btn-md btn-block btn-outline-dark">View Event Details</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>

    </div>
</div>